@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,900;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');
*{ 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
} 
.container{ 
    width: 100%; 
    
} 
.header{ 
    width: 100%; 
     height: 80vh;
    background-image: url(images/furniture.jpg); 
    background-repeat: no-repeat; 
    background-position: bottom; 
    background-size: cover;
   

}  
.logo{ 
    width: 50px; 
    height: 50px; 
} 
.logo>img{ 
    width: 100%; 
    height: 100%;  
    background-color: transparent;
} 
nav{ 
    padding: 3% 10%; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
} 
.navlinks>ul>li{ 
    display: inline-block; 
    padding-left: 2rem; 
    margin-left: 2rem;
}  
span{ 
   
    visibility: hidden; 
  
}  
.description{   
    margin-top: 4rem;
    width: 100%;
     display: flex; 
     justify-content: flex-end; 
     
} 
.create
{width: 50%; 

} 
.create>h1{font-size: 50px; margin-bottom: 10px;} 
.create>p{font-size: 22px; font-weight: bold; margin-bottom: 10px;}  
.btn{
     padding: 1rem 4rem; 
     background-color: black; 
     width: fit-content; 
     color: #fff; 
     border-radius: 10px;
}

.items{ 
    width: 100%; 
    padding: 4rem; 
    display: flex; 
    justify-content: space-evenly;
}
.product{ 
   width: 150px; 
   height: 150px; 
   background-color: rgb(206,173,96); 
   display: flex; 
   align-items: center; 
   justify-content: center;  
   flex-direction: column;

} 
.product>img{ 
    width: 50px; 
    height: 50px; 
    margin-bottom: 8px;
} 
@media screen and (max-width:500px) {
    .navlinks{  
        width: 230px; 
        background-color: black;  
       
        position: absolute; 
        right:-250px; 
        top: 0;  
         transition: 1s; 
         /* height: 200px ; */ 
         color: #fff;
    }  
    nav{ 
        position: relative;
    }
    .navlinks>ul>li{ 
        display: block; 
        padding: 2rem; 
        border-bottom: 1px solid grey;
        
    } 
      span{ 
        visibility: visible;
      } 
      

    .items{ 
         display: grid; 
         grid-template-columns: 1fr 1fr; 
         grid-template-rows: 1fr 1fr 1fr; 
         gap: 10px; 
         padding: 2rem;
    }  
    .description{ 
        display: block; 
        width: 100%; 
        margin-top: 15rem;
    } 
    .create{ 
        width: 100%; 
        text-align: center; 
        display: flex; 
        flex-direction: column; 
         
        align-items: center;
    } 
    .create>h1{ 
        font-size: 32px;
    }
    
} 
.categorie{ 
    width: 100%;
    padding: 5rem; 
    
}  
.categorie>h1{ 
    color :rgb(63,62,61);
     margin-bottom: 8px;

} 
.categorie>p{ 
    color: rgb(107,107,107);
}
.featured_categories{  
    padding: 3rem;
   width: 100%;  
   height: 40rem;
   display: grid; 
   grid-template-columns: 1fr 350px 350px; 
   grid-template-rows: 1fr 1fr; 
   gap: 20px;
} 
.categories1{background-color: red; 
    grid-row: span 2; 
    background-image: url(images/candales.jpg);  
    background-size: cover; 
    background-position: center; 
    position: relative;
} 
.categories4{background-color: red;  
    grid-column: span 2;  
    background-image: url(images/book\ room.jpg); 
    background-size: cover; 
    background-position: center; 
    position: relative;

}
.categories2{ 
    background-image: url(images/sofa.jpg); 
    background-size: cover; 
    background-position: bottom; 
    position: relative;

} 
.categories3{ 
    background-image: url(images/modern\ living\ room.webp); 
    background-size: cover; 
    background-position: center; 
    position: relative;
} 
.div1{ 
    position: absolute; 
    right: 3rem ; 
    top: 13rem; 
    color: black; 
    
} 
.div1>h1,p{ 
    margin-bottom: 15px;
} 
.div2{ 
    position: absolute ;
     bottom: 0; 
     right: 15px; 
     background-image: linear-gradient(to bottom, #FFA500, #000000);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
} 
.div3{ 
    position: absolute; 
    bottom: 0; 
    left: 20px;
}
@media screen and (max-width:500px){ 

    .featured_categories{ 
        display: grid; 
        grid-template-columns: 1fr; 
        
    }
}